#d {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    170deg,
  height: 100%;
  width: 100%;
  background: linear-gradient(
    170deg,
    white 30%,
    white 50%,
    rgb(5, 43, 114) 30%,
    rgb(5, 43, 114) 30%
  );
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
.btn {
  background-color: #ddd;
  border: none;
  color: pink;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: auto;
  cursor: pointer;
  border-radius: 25px;
  position: absolute;
}
input[type="text"] {
  width: 200px;
  height: 20px;
  padding-right: 50px;
}

input[type="submit"] {
  margin-left: -50px;
  height: 25px;
  width: 50px;
  background: blue;
  color: white;
  border: 0;
  -webkit-appearance: none;
}
.u {
  width: 2rem;
  height: 2rem;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  border-radius: 50%;
}
.v {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.w {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.x {
  width: 150px;
  height: 230px;
}
.z {
  text-align: right;
}

.fa {
  height: 30px;

  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}
/*  Add a hover effect if you want  */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: yellow;
  border-radius: 50%;
}

/* Twitter */
.fa-instagram {
  background: #fa5f5f;
  color: white;
  border-radius: 25%;
}
.t {
  text-align: right;
  margin-top: 15rem;
}
input {
  background-color: lightblue;
}
#n {
  background-image: url("./imgs/k.jpeg");
  background-repeat: no-repeat;
}
